@import "../abstracts/variables";

.header {
  padding: 7px 7px 0 7px;
  font-size: calculate-rem(15px);
  position: relative;
  .header__left {
    padding-top: 49px;
    padding-left: 6%;
    @include flex-grow(1);
  }
  .header__right {
    .header__right--bag {
      padding: 16px;
      margin-top: 5px;
      cursor: pointer;
      margin-bottom: 0;
      background-color: map-get($color, "color-grey-shd");
      & > .icon {
        color: map-get($color, "btn-border-color");
        padding-right: 10px;
        font-size: calculate-rem(26px); 
      }
    }
  }
  #menu-hamburger{
    display: none;
  }
  @include flexbox();
  @include shadow(0px 5px 9px, map-get($color, "color-grey-shd"));
}
