.modal-items {
  @include flexbox();
  background-color: map-get($color, "color-white");
  height: 80px;
  justify-content: space-between;
  margin-bottom: 2px;
  padding: 10px 15px;
  @include align-items(center);
  img {
    height: 100%;
    width: 15%;
  }
  .modal-items-quantity {
    @include flexbox();
    margin-left: 25px;
    @include justify-content(center);
    flex-grow: 1;
    flex-direction: column;
    .product-name {
      @include font-weight("bold");
      margin-bottom: 10px;
    }
  }
  .product-info {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    i {
      color: map-get($color, "btn-border-color");
      font-size: 2.5rem;
      cursor: pointer;
    }
    .icon-close {
      color:  map-get($color, "color-black");;
    }
  }
}
