.products {
  padding: 40px 20px;
  @include align-items(center);
  @include flexbox();
  .products--image {
    @include flex-grow(1);
    img {
      height: 150px;
      width: auto;
      margin: 0 5%;
    }
  }
  .products__description {
    font-size: calculate-rem(16px);
    @include flex-grow(2);
    @extend .txt-align;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-between);
    @include align-items(center);
    .btn {
      color: map-get($color, "color-white");
      background-color: map-get($color, "btn-border-color");
      padding: 10px;
    }
    h2,
    p {
      margin-bottom: 20px;
    }
    & * {
      @include viewport(small-mobile) {
        margin-bottom: 6px;
      }
    }
  }
  &:nth-child(odd) {
    @include flex-direction(row);
  }
  &:nth-child(even) {
    @include flex-direction(row-reverse);
  }
}
