.products-container {
  @include flexbox();
  padding: 40px 20px;
  @include align-items(center);
  .prod-image {
    @include flex-grow(1);
    img {
      height: 150px;
      width: auto;
      margin: 0 5%;
      @include viewport(small-mobile) {
        width: 100%;
        max-width: 250px;
        height: auto;
      }
    }
  }
  .prod-description {
    @include flex-grow(2);
    @extend .txt-align;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-between);
    @include align-items(center);
    font-size: calculate-rem(16px);
    .btn {
      color: map-get($color, "color-white");
      background-color: map-get($color, "btn-border-color");
      padding: 10px;
    }
    h2,
    p {
      margin-bottom: 20px;
    }
    & * {
      @include viewport(small-mobile) {
        margin-bottom: 6px;
      }
    }
  }
  &:nth-child(odd) {
    @include flex-direction(row);
  }
  &:nth-child(even) {
    @include flex-direction(row-reverse);
  }
}
