.modal {
  height: 200px;
  width: 553px;
  position: fixed;
  top: 16%;
  right: 0;
  max-width: 100%;
  height: 524px;
  max-height: 100%;
  background-color: map-get($color, "color-grey-shd");
  font-size: calculate-rem(16px);
  .modal-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: map-get($color, "color-grey-shd");
    .modal-heading {
      width: 100%;
      background-color: map-get($color, "color-black");
      color: map-get($color, "color-white");
      padding: 0 15px;
      i {
        cursor: pointer;
      }
      div {
        font-weight: 600;
        padding: 16px;
        span {
          font-size: calculate-rem(14px);
          font-weight: 300;
        }
      }
      @include flexbox();
      @include align-items(center);
      @include justify-content(space-between);
    }
    .modal-wrapper {
      margin: 15px 0;
      overflow: auto;
      .lowest-price {
        background-color: white;
        margin: 10px;
        padding: 10px;
        @include align-items(center);
        @include flexbox();
        @include justify-content(space-around);
      }
      .cart-no-item {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 32%;
        .cart-no-item-heading {
          font-weight: 600;
          margin-bottom: 4px;
        }
        .cart-no-item-heading-fav {
          font-weight: 300;
        }
        @include flexbox();
      }
    }
    .cart-footer {
      border-top: 1px solid #dbdada;
      background-color: map-get($color, "color-white");
      bottom: 0;
      width: 100%;
      &-promo {
        padding: 8px;
      }
      &-checkout {
        margin: 10px;
        background-color: map-get($color, "btn-border-color");
        color: map-get($color, "color-white");
        padding: 10px;
        cursor: pointer;
        @include border-radius(3px);
        @include flexbox();
        @include justify-content(space-between);
      }
      &-start-shopping {
        position: absolute;
        bottom: 0;
        width: 100%;
        @include justify-content(center);
      }
      @extend .text-center-nomargin;
    }
    @include flexbox();
    @include flex-direction(column);
  }
  @include viewport(small-tablet) {
    position: static;
  }
  @include viewport(small-mobile) {
    position: static;
  }
}
