.product-container {
  .category-block {
    width: 25%;
    font-size: calculate-rem(16px);
    background-color: map-get($color, "color-grey-shd");
    @include viewport(small-mobile) {
      display: none;
    }
    ul {
      width: 100%;
      display: inline;
    }
    .category-name {
      padding: 14px;
      cursor: pointer;
      display: block;
      color: map-get($color, "background-primary");
      line-height: 145%;
      @include border-bottom(1px, map-get($color, "color-grey-border"));
    }
    .selected-link {
      background-color: map-get($color, "btn-border-color");
      color: map-get($color, "color-white");
    }
  }
  .category-list {
    width: 75%;
    .product-item {
      margin-top: 2%;
      width: 25%;
      margin-bottom: 3%;
      @include border-bottom(1px, map-get($color, "color-grey-border"));
      @include justify-content(space-between);
      @include flexbox();
      @include flex-direction(column);
      img {
        width: 100%;
        height: auto;
        @extend .no-margin;
        @include viewport(small-tablet) {
          width: 50%;
        }
      }
      h2 {
        font-size: calculate-rem(16px);
        color: map-get($color, "color-black");
        padding: 15px;
        @include font-weight("bold");
      }
      .prod-descrip {
        padding: 5px;
        font-size: calculate-rem(14px);
        background-color: map-get($color, "color-para");
        word-spacing: 1px;
        @include border-radius(2%);
      }
      .product-price {
        font-size: calculate-rem(14px);
        .mrp {
          color: map-get($color, "color-black");
          @include align-items(center);
        }
        .btn {
          cursor: pointer;
          @extend .btn-primary;
        }
        @include viewport(small-tablet) {
          display: none;
        }
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
      }
      .btn-primary {
        margin: 4%;
        @extend .btn-primary;
        @extend .no-display;
        @include viewport(small-tablet) {
          display: block;
          margin: 0 3% 4%;
        }
      }
      .item-wrapper {
        @include viewport(small-tablet) {
          display: flex;
        }
        @include viewport(small-mobile) {
          display: none;
        }
      }
      @include viewport(small-tablet) {
        width: 50%;
      }
      @include viewport(small-mobile) {
        width: 100%;
      }
      .item-wrapper-mobile {
        margin: 3%;
        .item-detail-wrapper {
          @include viewport(small-mobile) {
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(space-between);
          }
          img,
          .btn-primary {
            @include viewport(small-mobile) {
              margin: 0;
            }
          }
        }
        @extend .no-display;
        @include viewport(small-mobile) {
          @include flexbox();
        }
      }
      & * {
        margin: 4%;
        @include viewport(small-mobile) {
          margin: 0;
        }
      }
      & > .btn-primary {
        @include viewport(small-mobile) {
          display: none;
        }
      }
    }
    @include flexbox();
    @include flex-wrap(wrap);
    @include viewport(small-mobile) {
      width: 100%;
    }
  }
  @include flexbox();
  @include flex-direction(row);
}
