.row {
  max-width: 1140px;
  margin: 0 auto;
}
.btn {
  color: map-get($color, "btn-color");
  border: map-get($color, "btn-border-color");
  display: inline-block;
  @extend .no-underline;
  padding: 5px;
  font-weight: $font-weight-600;
  @extend .txt-align;
}
.btn-primary {
  background-color: map-get($color, "btn-border-color");
  color: map-get($color, "color-white");
  font-size: calculate-rem(14px);
  @include border-radius(2%);
  cursor: pointer;
}
.text-center {
  text-align: center;
  margin: 5%;
}
.text-center-nomargin {
  text-align: center;
}
.selected-link {
  color: #575151 !important;
  font-weight: 600;
}
button {
  display: inline-block;
  border: none;
  width: 100%;
  padding: 15px;
  margin: 20px 0;
  width: 100%;
}