.row {
  max-width: 1140px;
  margin: 0 auto;
}
.btn {
  color: map-get($color, "btn-color");
  border: map-get($color, "btn-border-color");
  display: inline-block;
  padding: 5px;
  font-weight: $font-weight-600;
  @extend .txt-align;
  @extend .no-underline;
}
.btn-primary {
  background-color: map-get($color, "btn-border-color");
  color: map-get($color, "color-white");
  font-size: calculate-rem(14px);
  cursor: pointer;
  @include border-radius(2%);
}
.text-center {
  text-align: center;
  margin: 5%;
}
.text-center-nomargin {
  text-align: center;
}
button {
  display: inline-block;
  border: none;
  width: 100%;
  padding: 15px;
  margin: 20px 0;
  width: 100%;
}
.active-link {
  color: map-get($color ,"btn-border-color");
}
