.input-group {
  position: relative;
  margin: 27px 0 20px;
  .errorMsg {
    color: map-get($color, "btn-border-color");
    margin-bottom: 12px;
    margin-top: 8px;
    font-size: calculate-rem(14px);
  }
  input {
    font-size: calculate-rem(12px);
    padding: 10px 10px 10px 5px;
    display: block;
    max-width: 380px;
    width: 100%;
    border: none;
    border-bottom: 1px solid map-get($color, "color-grey-border");
    &:focus {
      outline: none;
      border: none;
    }
  }

  label {
    color: map-get($color, "color-grey-border" );
    font-size: calculate-rem(14px);
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  input:focus ~ label, .valid {
    top: -20px;
    font-size: calculate-rem(14px);
    color: map-get($color , "color-blue" );
  }
  .bar {
    position: relative;
    display: block;
    max-width: 380px;
    width: 100%;
  }
  .bar:before,
  .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: map-get($color , "color-blue" );
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .bar:before {
    left: 50%;
  }
  .bar:after {
    right: 50%;
  }
  input:focus ~ .bar:before,
  input:focus ~ .bar:after {
    width: 50%;
  }
}
