/**
 * Color define
 */
$color: (
  "btn-primary": #e74646,
  "background-primary": #353535,
  "btn-color": #737373,
  "btn-border-color": #bf2957,
  "color-grey-shd": #eaeaea,
  "color-white": #ffffff,
  "color-grey-border": #d2d7da,
  "color-black": #000000,
  "color-para": #f2f0f0,
  "color-blue": #3bbfce,
  "color-light-grey":#9b9595
);

/**
 * Font weight 
 */
$font-weight-600: 600;

/**
 * breakpoints
 */
$breakpoints: (
  "small-tablet": 768px,
  "small-mobile": 480px,
  "big-tablet": 1024px,
  "desktop": 1200px
);